<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
  </head>
  <body>

    

    <p><img src="http://s18.postimg.org/abgr2n36h/image.jpg" width="200px" /></p>


    <p><iframe src="https://player.vimeo.com/video/123407898" width="200px"  frameborder="0" webkitallowfullscreen    mozallowfullscreen allowfullscreen></iframe> </p>

    <p><h1><%= title %></h1>Juego desarrollado por keruss/p>
    
  </body>

    

</html>
